@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nagarro India Pvt. Ltd.<br />
    Gurugram, Haryana 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Customer-Support:</strong>   <a href="https://helpdesk.nagarro.com" target="_blank">helpdesk.nagarro.com</a><br />
</address>